body {
    background-image: url(images/backgrounddesk1.jpg);
}

#start {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    font-size: 20px;
}

#contentWrapper {
    width: 33%;
    height: 66%;
    border: 10px solid #2B1800;
    position: absolute;
    left: 33%;
    top: 25%;
    background-image: url(images/paperbackground2.jpg);
}

#question {
    position: relative;
    left: 120px;
    top: 37px;
    width: 452px;
    heigth: 100px;
    margin-top: 0px;
    margin-left: -120px;
    font-size: 20px;
    text-align:center;
    font-family: Impact;
}

.finalResult:hover {
    transition-property: font-size;
    transition-duration: 2s;
    font-size: 30px;
}

.items{
    position: relative;
    top: 26px;
    left: -13px;
    margin-top: 5.5px;
    margin-left: 10px;
    text-align: center;
    width: 454px;
    font-family: 'Courier New', Georgia, 'Times New Roman';
    
}

.items:hover {
    transition-property: background-color;
    transition-duration: 1s;
    background-color: #2B1800;
    transition-property: font-size;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.selected {
    border: 4px solid #2B1800;
}

#progressBar {
    position: absolute;
    top: 193px;
    left: 85px;
    height: 25px;
}

#nextButton {
    position: absolute;
    width: 50%;
    height: 157px;
    text-align: center;
    right: 0px;
    left: 225px;
    top: 250px;
    margin-left: 0px;
    margin-right: 0px;

}

#previousButton {
    position: absolute;
    width: 49.9%;
    height: 157px;
    left: 60px;
    top: 167px;
    margin-left: -60px;
    margin-top: 83px;
    text-align: center;
}

#retakeButton {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 250px;
    height: 100px;
}


.hide {
    display: none;
}