body {
    background-image: url(images/backgrounddesk1.jpg);
}

#start {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    font-size: 20px;
}

#contentWrapper {
    width: 33%;
    height: 66%;
    border: 2px solid black;
    position: absolute;
    left: 33%;
    top: 25%;
    background-image: url(images/paperbackground2.jpg);
}

#question {
    position: absolute;
    left: 45%;
    top: 2%;
    width: 400px;
    heigth: 100px;
    margin-top: 0px;
    margin-left: -100px;
    font-size: 20px;
    text-align:left;
}

#answersList {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    heigth: 100px;
    margin-top: -75px;
    margin-left: -100px;
}

.items{
    position: relative;
    top: 30px;
    margin-top: 10px;
    margin-left: 50px;

}

#nextButton {
    position: relative;
    margin-left: 50px;
    margin-top: 89px;
}

.selected {
    border: 5px solid black;
}

.noBorder {
    border: none;
}


.hide {
    display: none;
}